:root {
  --e1: #110d3c;
  --e2: #1d2875;
  --e3: #1c91c4;
  --e4: #bd0875;
  --e5: #970175;
  --e6: #4e2188;

  --c1: #ffffff;
  --c2: #f2f1ff;
  --c3: #e9e9f1;
  --c4: #d3d1e1;
  --c5: #aaa8ba;
  --c6: #9694a8;
  --c7: #7d7b8e;
  --c8: #494855;
  --c9: #3e3d45;
  --c10: #2e2d35;
  --c11: #242429;
  --c12: #1a191e;
  --c13: #0f0e16;
  --c14: #000000;

  --gap: 1.25rem;
  --gap-sec: 0.625rem;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p,
h1 {
  margin: 0;
}

body {
  margin: 0;
  background: var(--c2);
}

main {
  display: flex;
  flex-direction: column;
}

/* Global */

.box {
  border-radius: var(--gap);
  padding: var(--gap);
}

.small-box {
  border-radius: var(--gap);
  padding: var(--gap-sec);
}

.mb {
  margin-bottom: var(--gap);
}

.mbs {
  margin-bottom: var(--gap-sec);
}

.container {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 240px auto;
  height: 100vh;
}

/* Sidenav */

.sidenav {
  background-color: var(--c4);
}

.sidenav__logo {
  margin-bottom: var(--gap);
  width: 100%;
}

.filters {
  background: var(--c1);
  display: flex;
  gap: var(--gap);
}

.filters div {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--gap-sec);
}

.filters label {
  background: var(--c3);
  display: block;
}

.filters input {
  border: none;
  background: var(--c3);
}

.title {
  background: var(--c1);
}

#chart {
  background-color: var(--c1);
  height: 100%;
  width: 100%;
}

.chart-container {
  flex: 1;
}

.chart-resume {
  display: flex;
  gap: var(--gap);
}

.resume-item {
  align-items: center;
  background: var(--c4);
  flex: 1;
}

.resume-item h4 {
  display: inline-block;
  margin: 0 var(--gap-sec) 0 0;
}

/*  */
